<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjack.oauth.server.dao.mapper.UserInfoMapper">

    <select id="getUserInfo" parameterType="java.lang.Long" resultType="com.cjack.oauth.server.dao.domain.UserInfoDto">
          SELECT id, nickName, avator
          FROM user_info
          where id=#{id}
    </select>
</mapper>